<a href="https://colab.research.google.com/github/migzsamonte/migzsamonte/blob/main/Copy_of_HOA1_Literals_Operators_and_Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [ ]:
# 1.1 Assigning variables of different data types in Python
# assignment operator is the = sign
value = 2

print(value)

2

In [ ]:
from types import NoneType
print(type(2+3j))
print(type('Hello World'))
print(type("Hello World"))

# Boolean means true or false / 1 or 0

print(type(True))
print(type(False))

# Iterables -> Iterable inside
print(type({1, 2, 3, 4, 5})) # list can be changed
print(type((1, 2, 3, 4, 5,)))# tuples cannot be changed
print(type({'name':'Miguel Samonte'}))
print(type(None))

value = 5
value2 = -6

<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
# Procedure 2
# Performing Operations with Python

print(value+value2)

-1

In [ ]:
value, value2 = 0.5, 6
print(value+value2)

6.5

In [ ]:
value, value2 = -0.5, -6.1
print(value+value2)

-6.6

In [ ]:
value, value2 = " Hello", 'World'
print(value+value2)

 HelloWorld

In [ ]:
value, value2 = [1, 2, 3],[4, 5, 6]
print(value+value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
value, value2 = (1, 2, 3),(4, 5, 6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [ ]:
value, value2 = {'Miguel':'Samonte'}, {'Age':18}
print(value+value2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
value, value2 = 30, 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

In [ ]:
# Procedure 3: Receiving input data using python
name = input("What's your name?")
print(name)

What's your name?Miguel Joshua Samonte
Miguel Joshua Samonte

In [ ]:
# Procedure 3: Receiving input data using Python
print(input("What's your name?"))

What's your name?Miguel Joshua Samonte
Miguel Joshua Samonte

In [ ]:
# Procedure 4: Assigning Input Data to a Variable

name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))

bmi = weight / (height**2)

# The built-in 'print' function has likely been overwritten.
# Use the built-in print function by calling __builtins__.print or restart the kernel
__builtins__.print(bmi)

Enter your name: Migz
Enter your weight(kg): 170
Enter your height(m): 1.71
58.13754659553368

Supplementary Activity

In [51]:
base = float(input("Enter triagle base:"))
height = float(input("Enter triangle height:"))

area = (1/2)*base*height

print(" The area of the triangle is: " + str(area))

Enter triagle base:28
Enter triangle height:22
 The area of the triangle is: 308.0

In [49]:

celcius = float(input("Enter temperature in celcius:"))
fahrenheit = (celcius*9.5) + 32

print("Temperature in fahrenheit: " + str(fahrenheit))

Enter temperature in celcius:70
Temperature in fahrenheit: 697.0

In [53]:
import math

def distance_between_points(x1, y1, x2, y2):
    """
    Calculates the distance between two points in a 2D plane.

    Args:
        x1 (float): x-coordinate of the first point.
        y1 (float): y-coordinate of the first point.
        x2 (float): x-coordinate of the second point.
        y2 (float): y-coordinate of the second point.

    Returns:
        float: The distance between the two points.
    """

    distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
    return distance

x1 = 1
y1 = 2
x2 = 4
y2 = 6

distance = distance_between_points(x1, y1, x2, y2)
__builtins__.print(f"The distance between the points ({x1}, {y1}) and ({x2}, {y2}) is: {distance}") # Use __builtins__.print to access the original print function

The distance between the points (1, 2) and (4, 6) is: 5.0