#Import and displaying shape and rows

In [ ]:
import pandas as pd

df = pd.read_csv('sample_data/netflix_titles.csv')

print(df.shape)
print("========================================================")
print(df.head())
print("========================================================")
print(df.tail())
print("========================================================")
print(df.columns)

(8807, 12)
========================================================
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
========================================================
     show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...
========================================================
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

#Filled null entries with placeholder "unknown"

In [ ]:
df_ukn = df.fillna('Unknown')

#Changed data type

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
print(df.dtypes)

show_id                       object
type                          object
title                         object
director                      object
cast                          object
country                       object
date_added            datetime64[ns]
release_year                   int64
rating                        object
duration                      object
listed_in                     object
description                   object
duration_num                 float64
duration_unit                 object
main_genre                    object
year_added                   float64
release_to_add_lag           float64
dtype: object

#Count of movie and tv shows, ratings, and the year with most shows released

In [ ]:
print(df['type'].value_counts())

print("========================================================")

print(df['rating'].value_counts().head(5))

print("========================================================")

print(df['release_year'].value_counts().idxmax())

type
Movie      6131
TV Show    2676
Name: count, dtype: int64
========================================================
rating
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
Name: count, dtype: int64
========================================================
2018

#Changed the type for duration to get length and number of seasons

In [ ]:
df[['duration_num', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')
df['duration_num'] = pd.to_numeric(df['duration_num'], errors='coerce')

print(df[df['type'] == 'Movie']['duration_num'].mean())

print(df[df['type'] == 'TV Show']['duration_num'].mean())

99.57718668407311
1.764947683109118

#Average release year for each genre

In [ ]:
df['main_genre'] = df['listed_in'].str.split(',').str[0].str.strip()

avg_years = df.groupby('main_genre')['release_year'].mean()

avg_years_as_date = pd.to_datetime(avg_years.astype(int), format='%Y')

genre_release_summary = pd.DataFrame({
    'average_release_year_float': avg_years,
    'average_release_date': avg_years_as_date
}).sort_values(by='average_release_year_float', ascending=False)

print(genre_release_summary)

                              average_release_year_float average_release_date
main_genre
TV Horror                                    2018.090909           2018-01-01
Stand-Up Comedy & Talk Shows                 2018.029412           2018-01-01
LGBTQ Movies                                 2018.000000           2018-01-01
Crime TV Shows                               2017.879699           2017-01-01
Docuseries                                   2017.805430           2017-01-01
Romantic Movies                              2017.666667           2017-01-01
Reality TV                                   2017.616667           2017-01-01
TV Action & Adventure                        2017.575000           2017-01-01
Anime Features                               2017.380952           2017-01-01
Romantic TV Shows                            2017.343750           2017-01-01
Sports Movies                                2017.000000           2017-01-01
TV Sci-Fi & Fantasy                          2017.000000           2017-01-01
TV Comedies                                  2016.925000           2016-01-01
International TV Shows                       2016.799742           2016-01-01
Spanish-Language TV Shows                    2016.500000           2016-01-01
Music & Musicals                             2016.444444           2016-01-01
TV Dramas                                    2016.313433           2016-01-01
Documentaries                                2016.225573           2016-01-01
Kids' TV                                     2016.121134           2016-01-01
British TV Shows                             2015.944664           2015-01-01
International Movies                         2015.664062           2015-01-01
Stand-Up Comedy                              2015.616766           2015-01-01
Horror Movies                                2015.294545           2015-01-01
Independent Movies                           2015.150000           2015-01-01
Anime Series                                 2015.017045           2015-01-01
Sci-Fi & Fantasy                             2014.923077           2014-01-01
Movies                                       2014.473684           2014-01-01
Children & Family Movies                     2014.076033           2014-01-01
Dramas                                       2013.982500           2013-01-01
Thrillers                                    2013.338462           2013-01-01
Comedies                                     2013.012397           2013-01-01
Action & Adventure                           2009.538999           2009-01-01
Classic & Cult TV                            2003.863636           2003-01-01
TV Shows                                     1999.375000           1999-01-01
Cult Movies                                  1994.166667           1994-01-01
Classic Movies                               1973.437500           1973-01-01

#Temporal Trends

In [ ]:
df['year_added'] = df['date_added'].dt.year
df['release_to_add_lag'] = df['year_added'] - df['release_year']

print(df['release_to_add_lag'].describe())

count    8709.000000
mean        4.690894
std         8.792208
min        -3.000000
25%         0.000000
50%         1.000000
75%         5.000000
max        93.000000
Name: release_to_add_lag, dtype: float64

###for the count above the average is 4.69 years before netflix adds the show

#Rating vs Type

In [ ]:
print(pd.crosstab(df['type'], df['rating']))

rating   66 min  74 min  84 min   G  NC-17  NR   PG  PG-13    R  TV-14  TV-G  \
type
Movie         1       1       1  41      3  75  287    490  797   1427   126
TV Show       0       0       0   0      0   5    0      0    2    733    94

rating   TV-MA  TV-PG  TV-Y  TV-Y7  TV-Y7-FV  UR
type
Movie     2062    540   131    139         5   3
TV Show   1145    323   176    195         1   0

#With rating "R" after 2020

In [ ]:
filtered = df[(df['rating'] == 'R') & (df['date_added'] >= '2021-01-01')]
print(len(filtered))

190

#Average release of countries

In [ ]:
df['release_year'] = pd.to_datetime(df['release_year'], errors='coerce')
print(df.groupby('country')['release_year'].mean())

print("========================================================")

print(df.groupby(['year_added', 'type']).size().groupby(level=0).apply(lambda x: x / x.sum()))

country
, France, Algeria                                     1970-01-01 00:00:00.000002014
, South Korea                                         1970-01-01 00:00:00.000002021
Argentina                                             1970-01-01 00:00:00.000002016
Argentina, Brazil, France, Poland, Germany, Denmark   1970-01-01 00:00:00.000002017
Argentina, Chile                                      1970-01-01 00:00:00.000002011
                                                                   ...
Venezuela                                             1970-01-01 00:00:00.000002017
Venezuela, Colombia                                   1970-01-01 00:00:00.000002007
Vietnam                                               1970-01-01 00:00:00.000002017
West Germany                                          1970-01-01 00:00:00.000001977
Zimbabwe                                              1970-01-01 00:00:00.000002017
Name: release_year, Length: 748, dtype: datetime64[ns]
========================================================
year_added                     year_added                     type
1970-01-01 00:00:00.000002008  1970-01-01 00:00:00.000002008  Movie      0.500000
                                                              TV Show    0.500000
1970-01-01 00:00:00.000002009  1970-01-01 00:00:00.000002009  Movie      1.000000
1970-01-01 00:00:00.000002010  1970-01-01 00:00:00.000002010  Movie      1.000000
1970-01-01 00:00:00.000002011  1970-01-01 00:00:00.000002011  Movie      1.000000
1970-01-01 00:00:00.000002012  1970-01-01 00:00:00.000002012  Movie      1.000000
1970-01-01 00:00:00.000002013  1970-01-01 00:00:00.000002013  Movie      0.600000
                                                              TV Show    0.400000
1970-01-01 00:00:00.000002014  1970-01-01 00:00:00.000002014  Movie      0.826087
                                                              TV Show    0.173913
1970-01-01 00:00:00.000002015  1970-01-01 00:00:00.000002015  Movie      0.767123
                                                              TV Show    0.232877
1970-01-01 00:00:00.000002016  1970-01-01 00:00:00.000002016  Movie      0.605263
                                                              TV Show    0.394737
1970-01-01 00:00:00.000002017  1970-01-01 00:00:00.000002017  Movie      0.720790
                                                              TV Show    0.279210
1970-01-01 00:00:00.000002018  1970-01-01 00:00:00.000002018  Movie      0.761231
                                                              TV Show    0.238769
1970-01-01 00:00:00.000002019  1970-01-01 00:00:00.000002019  Movie      0.712356
                                                              TV Show    0.287644
1970-01-01 00:00:00.000002020  1970-01-01 00:00:00.000002020  Movie      0.683706
                                                              TV Show    0.316294
1970-01-01 00:00:00.000002021  1970-01-01 00:00:00.000002021  Movie      0.662884
                                                              TV Show    0.337116
dtype: float64