<a href="https://colab.research.google.com/github/migzsamonte/migzsamonte/blob/main/HOA_2_Control_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
number = int(input("Enter your number"))
n = int(input("Test divisibility by"))

i = number%n

if i != 0:
    print ("The number ",number," is not divisible by ",n,"\n")
i = number%n
number = int(input("Enter your number"))
n = int(input("Test divisibility by"))

i = number%n

if i != 0:
    print ("The number ",number," is not divisible by ",n,"\n")
i = number%n

if i != 0:
    print ("The number ",number," is not divisible by ",n,"\n")

Enter your number10
Test divisibility by20
The number  10  is not divisible by  20

Enter your number10
Test divisibility by20
The number  10  is not divisible by  20

The number  10  is not divisible by  20

In [46]:
hidden = "Mypasscode"

password = input("Enter your password: ")
hidden = "Mypasscode"

if password == hidden:
    print("You entered the right password\n")
else:
    print("Wrong password!!\n")

Enter your password: Mypasscode
You entered the right password

In [50]:
names = ["Migs", "Miggy", "Migz"]
m = 0

for name in names:
    m += 1
    print ("The name number", m, "in the list is", name)

The name number 1 in the list is Migs
The name number 2 in the list is Miggy
The name number 3 in the list is Migz

In [52]:
N = int(input("Enter the last integer considered "))
Sum = 0
for i in range(0, N+1, 1):
    Sum += i**2
print ("The sum of the squares between 0 and", N, "is", Sum)

Enter the last integer considered 6
The sum of the squares between 0 and 6 is 91

In [57]:
N = int(input("Enter N --> "))
print("Counting numbers from 0 to", N, "\n")
i = 0
while i < N+1:
    print(i, "\n")
    i += 1
    print (i, "\n")
    i += 1

Enter N --> 5
Counting numbers from 0 to 5

0

1

2

3

4

5

In [59]:
N = int(input("Enter N --> "))
for i in range(0, N+1, 1):
    if i**2 == N:
        break
    else:
        if i % 5 == 0:
            continue
        print (i, "\n")

Enter N --> 5
1

2

3

4

In [ ]:
a = 6
b = 15

In [18]:
a=b=15

if a > b:
  print(f"{a} is greater than {b}.")

elif b > a:
  print(f"{b} is greater than {a}.")

else:
  print(f"{a} is not less than or greater than {b}.")

15 is not less than or greater than 15.

In [22]:
a = int(input("A: "))
b = int(input("B: "))
c = int(input("C: "))

# The algorithim must work as follows:
#check if a is the biggest
if a > b and a > c:
  print(f"A({a}) is the largest value.")
elif b > a and b > c:
  print(f"B({b}) is the largest value.")
elif c > a and c > b:
  print(f"({c}) is the largest value.")

A: 10
B: 20
C: 30
(30) is the largest value.

In [4]:
for i in range(0, 11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in students:
  print(i)

Miguel
Joshua
Kousei

In [17]:
print(list(range(len(students))))

[0, 1, 2]

In [15]:
students = ["Miguel", "Joshua", "Kousei"]
print(len(students))

for i in range(len(students)):
  if i == "Miguel":
      break
  print(students[i])

#continue the loop: will not print "Miguel"

for i in range(len(students)):
  if students[i] == "Miguel":
    continue
print(students[i])

3
Miguel
Joshua
Kousei
Kousei

SUPPLEMENTARY ACTIVITY

Factorial Calculation

Even/Odd Position Case Conversion

In [39]:
word = input("Enter a word: ")
transformed_word = ""

for i, letter in enumerate(word):
    if i % 2 == 0:
        transformed_word += letter.upper()
    else:
        transformed_word += letter.lower()

print("Transformed word:", transformed_word)

Enter a word: malakastamanimarskpalkasitalaga
Transformed word: MaLaKaStAmAnImArSkPaLkAsItAlAgA

Caesar Cipher Exercises